# Common ignores for project root
.DS_Store
**/local.properties
**/.gradle
**/build
**/.idea
**/*.iml
**/.dart_tool
**/pubspec.lock

# Ignore nested git dirs after backup (we'll rename .git to .git_backup)
.git_backup/
